@import "tailwindcss";

/* ===== DESIGN SYSTEM ===== */
:root {
  --color-background: #f9fafb;
  --color-white: #ffffff;

  --color-primary: #ff6b35;
  --color-accent: #6c63ff;
  --color-success: #22c55e;

  --color-text: #1f2937;
  --color-text-light: #6b7280;

  --color-gray-light: #f3f4f6;
  --color-gray-dark: #374151;
}

/* ===== MAP KE TAILWIND ===== */
@theme inline {
  --color-background: var(--color-background);
  --color-white: var(--color-white);

  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-success: var(--color-success);

  --color-text: var(--color-text);
  --color-text-light: var(--color-text-light);

  --color-gray-light: var(--color-gray-light);
  --color-gray-dark: var(--color-gray-dark);

  --font-sans: "Montserrat", sans-serif;
}

html {
  color-scheme: light;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}